

<div id="online-user-count">
    {% if online_users %}
        <span class="bg-red-500 rounded-lg pt-1 pb-2 px-2 text-white text-sm ml-4">
            {{ online_users.count }} online
        </span>
    {% endif %}
</div>

<div id="online-in-chats">
    {% if online_in_chats %}
        <div class="green-dot absolute top-2 right-2 z-20"></div>
    {% endif %}
</div>


    <ul  id="chats-lists" x-show="chatDropdown" x-cloak
                class="absolute right-0 mt-2 w-40 bg-white text-black rounded-md shadow-lg z-20"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 translate-y-1"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 translate-y-1">

                <li class="relative">
                    {% if public_chat_users %}
                    <div class="green-dot absolute top-4 left-0"></div>
                    {% else %}
                    <div class="greylight-dot absolute top-4 left-0"></div>
                    {% endif %}
                <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-gray-100">Public  Chat</a>
                </li>
          
                {% for chatroom in user.chat_groups.all %}
                    {% if chatroom.groupchat_name %}   
                    <li class="relative">
                         {% if chatroom.users_online.all and user not in chatroom.users_online.all  or chatroom.users_online.count > 1%}
                         <div class="green-dot absolute top-4 left-0"></div>
                         {% else %}
                         <div class="greylight-dot absolute top-4 left-0"></div>
                         {% endif %}
                        <a class="block px-4 py-2 hover:bg-gray-100" href="{% url 'chatroom' chatroom.group_name %}" > {{  chatroom.groupchat_name |slice:":30"   }}</a>
                    </li>
                {% endif %}
                    {% if chatroom.is_private %}
                        {% for member in chatroom.members.all %}
                            {% if member != user %}
                                <li class="relative">
                                    {% if chatroom.users_online.all and user not in chatroom.users_online.all  or chatroom.users_online.count > 1%}
                                   <div class="green-dot absolute top-4 left-0"></div>
                                   {% else %}
                                   <div class="greylight-dot absolute top-4 left-0"></div>
                                   {% endif %}
                                <a href="{% url 'chatroom' chatroom.group_name %}" class="block px-4 py-2 hover:bg-gray-100">{{ member.profile.name  }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
             
            </ul>